<ol class="blogList">
  <li>
    <article class="post">
      <div class="title">
        <a href="{{post_url}}" target="_blank">{{title}}</a>
        <span>({{post_url}})</span>
        <p>Posted by: {{{user.username}}}</p>
        <p>Posted at: {{{created_at}}}</p>
      </div>
    </article>
  </li>
</ol>