<ol class="blogList">
    {{#each post as |post|}}
  <li>
    <article class="post">
      <div class="title">
        <a href="{{post.post_url}}" target="_blank">{{post.title}}</a>
        <span>({{post.post_url}})</span>
        <p>Posted by: {{{post.user.username}}}</p>
        <p>Posted at: {{{post.created_at}}}</p>
      </div>
    </article>
  </li>
  {{/each}}
</ol>